<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [1]:
firstname ='Ablaye'
lastname ='DIALLO'
full_name ='Ablaye DIALLO'
country ='Senegal'
city ='Dakar'
age = 29
year= 1992
is_marrie=False
is_true=False
print(firstname)
print (lastname)
print(full_name)
print(country)
print(city)
print(age)
print(year)
print(is_marrie)
print(is_true)

Ablaye
DIALLO
Ablaye DIALLO
Senegal
Dakar
29
1992
False
False

**Exercise 01:** 
Check the data type of all your variables using the built-in function `type()`.**

In [2]:
print(type(firstname))
print(type(lastname))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_marrie))
print(type(is_true))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [3]:
x=-3
y=x**2+6*x+9
print(y)

0

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [4]:
base =input("entrer la base:")
base=int(base)
height=input("entrer la height:")
height=float(height)
area=0.5*base*height
print("l'aire est",area)

entrer la base:2
entrer la height:3
l'aire est 3.0

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [ ]:
a = input("Enter the side a: ")
b = input("Enter the side b: ")
c = input("Enter the side c: ")
p = int(a) + int(b) + int(c)
print(p)

Enter the side a: 4
Enter the side b: 4
Enter the side c: 5
13

In [5]:
a =input("entrer a:")
a=int(a)
b=input("entrer b:")
b=int(b)
c =input("entrer c:")
c=int(c)
perimeter=a+b+c
print("le perimetre",perimeter)

entrer a:4
entrer b:6
entrer c:3
le perimetre 13

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [7]:
a = input("Enter the length: ")
b = input("Enter the width: ")
area = int(a)*int(b) 
perimeter = int(a) + int(b)
print(area,perimeter)

Enter the length: 2
Enter the width: 4
8 6

In [8]:
L=int(input("entrer the length:"))
l=int(input("entrer width:"))
aire=L*l
perimetre=2*(L+l)
print("l'aire est ",aire)
print("perimetre est ",perimetre)

entrer the length:2
entrer width:3
l'aire est  6
perimetre est  10

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [ ]:
r = input("rayon: ")
pi = 3.14
aire = pi*int(r)*int(r)
c = 2*pi*int(r)
print(aire,c)

rayon: 3
28.259999999999998 18.84

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [9]:
x1= float(input("Enter x1: "))
y1=2*float(x1)-2
x2= float(input("Enter x2: "))
y2=2*float(x2)-2
pente=(float(y2)-float(y1))/(float(x2)-float(x1))
orddy=2*0-2
orddx=1
print(pente, orddy, orddx)

Enter x1: 2
Enter x2: 3
2.0 -2 1

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [10]:
Heure= input("Enter l'heure: ")
Taux= input("Enter le taux horaire: ")
Renum= float(Taux)*int(Heure)
print(Renum)

Enter l'heure: 5
Enter le taux horaire: 8000
40000.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [11]:
nombre_Annee= input("Enter year number: ")
secondes=int(nombre_Annee)*31536000
print(secondes)

Enter year number: 100
3153600000

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [ ]:
a=1
while a <= 5:
  print(a, 1, a, a**2, a**3)
  a+=1

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [12]:
time=6.892
distance=19.7
speed=distance/time
print(speed)
V=round(speed,1)
print(V)

2.8583865351131745
2.9

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [ ]:
rayon = input("Entrer le rayon: ")
hauteur = input("Entrer la hateur: ")
pi = 3.14
b = pi*int(rayon)**2
volume = 1/3*(b*int(hauteur))
volume

Entrer le rayon: 4
Entrer la hateur: 5

83.73333333333333

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [ ]:
ps = input("Entrer un nombre positif: ")
if int(ps) <0: 
  print("Le nombre doit etre positif: ")
  ps = input("Entrez cette fois ci un nombre positif: ")
  if int(ps) <0:
    print("On vous demande d'entrer un nombre positif")
  else:
    nd=int(ps)/2 
    print("Le nombre de fois que ce nombre est divisible par deux est",int(nd))   



else : 
  nd=int(ps)/2 
  print("Le nombre de fois que ce nombre est divisible par deux est",int(nd))

Entrer un nombre positif: 4
Le nombre de fois que ce nombre est divisible par deux est 2

In [13]:
N= int(input("Enter a positive integer: "))
x=0
while (N%2==0):
    N=N/2
    x=x+1
print(x)

Enter a positive integer: 4
2

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

In [ ]:
nd = input("Entrez un nombre entre 2 et 12")
if int(nd)>2 & int(nd)<12:

SyntaxError: ignored

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [ ]:
prenom = input("Entrez votre prénom: ")
nom = input("Entrez votre nom: ")
pays_origine = input("Entrez votre pays d'origine: ")
age = input("Entrez votre age: ")
print("Elle s'appelle", prenom, nom, "originaire du ", pays_origine, "et a", age,"ans.")

Entrez votre prénom: Edwige
Entrez votre nom: Akpoly
Entrez votre pays d'origine: benin
Entrez votre age: 24
Elle s'appelle Edwige  Akpoly originaire du  benin et a 24 ans.

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [ ]:
num_one = 5 
num_two = 4 
totale = num_one + num_two 
diff = num_one - num_two
produit = num_one*num_two
division = num_one/num_two
exp = num_one^num_two
print("Le total est: " ,totale,"\n" "La différence est: ",diff, "\n""Le produit est: ",produit,"\n""La division est: ",division,"\n""La puissance est:",exp)

La totale est:  9
La différence est:  1
Le produit est:  20
La division est:  1.25
La puissance est: 1

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! / CONGRATULATIONS! 🎉 </span> </b></center>