

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
x = list()

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [2]:
x=[1,2,3,4,5,6,7,8,9]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [3]:
len(x)

9

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [4]:
print(x[0])

print(x[int(len(x)/2)])

print(x[-1])

1
5
9

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [5]:
mixed_data_types=["Ablaye",29, 1.77,"SINGLE","MBOUR"]
print(mixed_data_types)

['Ablaye', 29, 1.77, 'SINGLE', 'MBOUR']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [54]:
#1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [7]:
#. Imprimez la liste à l'aide de print()
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(len(it_companies))

7

In [55]:
#4. Imprimez la première, la moyenne et la dernière entreprise
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies[0], it_companies[int(len(it_companies)/2)], it_companies[-1])

Facebook Apple Amazon

In [57]:
#5. Imprimez la liste après avoir modifié l'une des entreprises.
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies[-1]="Ablaye_COMPANY"
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Ablaye_COMPANY']

In [58]:
#Ajout d'une entreprise informatique à it_companies
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.append("Informatic_computing")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Informatic_computing']

In [59]:
# Insérer une entreprise informatique au milieu de la liste des entreprises
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.insert(int(len(it_companies)/2)+1, "MANGA")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'MANGA', 'IBM', 'Oracle', 'Amazon']

In [60]:
#Changez le nom d'une des it_companies en majuscule (sauf IBM !)
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
y=it_companies[2].upper()
print(y)

MICROSOFT

In [61]:
#Joignez les it_companies avec une chaîne '# ; '.
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
y="# ;".join(it_companies)
print(y)

Facebook# ;Google# ;Microsoft# ;Apple# ;IBM# ;Oracle# ;Amazon

In [62]:
#Vérifier si une certaine entreprise existe dans la liste it_companies.
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
if "Apple" in it_companies:
    print("Apple is around")
else:
    print("Apple is not around")

Apple is around

In [63]:
#trier la liste en utilisant la méthode sort()
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [64]:
# Inversez la liste par ordre décroissant à l'aide de la méthode reverse().
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.reverse()
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']

In [65]:
#Supprimez les 3 premières entreprises de la liste.
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0:3]
print(it_companies)

['Apple', 'IBM', 'Oracle', 'Amazon']

In [66]:
#Supprimez les 3 dernières entreprises de la liste.
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[-3:]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple']

In [67]:
# Supprimez la ou les entreprises informatiques du milieu de la liste.
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[int(len(it_companies)/2)]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [68]:
#Supprimez la première entreprise informatique de la liste
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0]
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [69]:
#Supprimez la ou les entreprises informatiques du milieu de la liste.
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[int(len(it_companies)/2)]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [70]:
#Retirer la dernière entreprise informatique de la liste
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[-1]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [71]:
#Supprimez toutes les entreprises informatiques de la liste
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
del it_companies[0:]
print(it_companies)

[]

In [72]:
#Détruire la liste des entreprises informatiques
it_companies=["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.clear()
print(it_companies)

[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [25]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
#Result=[*front_end,*back_end]
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [78]:
#trier la liste et trouver l'âge minimum et maximum.
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()  
print(ages[0],ages[-1])

19 26

In [81]:
#Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
ages.extend([19,26])
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26, 19, 26]

In [34]:
#3  Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
print(ages[int(len(ages)/2)])

26

In [82]:
#4Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
for i in range(len(ages)):
    ages.append(ages[i])
x=sum(ages)
print(int(x/len(ages)))

22

In [83]:
#Trouver l'intervalle des âges (max moins min)
ages.sort()
print(ages[-1],ages[0])

26 19

In [84]:
# Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().
import math
minmoy=19-22
maxmoy=26-22
abs(minmoy-maxmoy)

7

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [39]:
#1 Créer un dictionnaire vide appelé dog
dog={}

In [93]:
#2 Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
dog["name"]="Ablaye"
dog["couleur"]="blanc"
dog["race"]="noire"
dog["pattes"]=2
dog["ages"]=29
print(dog)

{'name': 'Ablaye', 'couleur': 'blanc', 'race': 'noire', 'pattes': 2, 'ages': 29}

In [94]:
#3 Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire
student={"prenom":"Ablaye","nom":"DIALLO","sexe":"M","age":29,"etat civil":"celibataire","competences":["Algebriste","Capacité d'adaptation","Créativité","Leadership"],"Pays":"senegal","ville":"Fatick","adresse":"belfort"}
print(student)

{'prenom': 'Ablaye', 'nom': 'DIALLO', 'sexe': 'M', 'age': 29, 'etat civil': 'celibataire', 'competences': ['Algebriste', "Capacité d'adaptation", 'Créativité', 'Leadership'], 'Pays': 'senegal', 'ville': 'Fatick', 'adresse': 'belfort'}

In [95]:
#4 Obtenez la longueur du dictionnaire student
print(len(student))

9

In [96]:
#5 Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
print(student["competences"],type(student["competences"]))

['Algebriste', "Capacité d'adaptation", 'Créativité', 'Leadership'] <class 'list'>

In [97]:
#6
student["competences"].extend(["Prise de décision","Communication"])
print(student["competences"])

['Algebriste', "Capacité d'adaptation", 'Créativité', 'Leadership', 'Prise de décision', 'Communication']

In [98]:
#7Obtenez les clés du dictionnaire sous forme de liste
print(student.keys())

dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competences', 'Pays', 'ville', 'adresse'])

In [99]:
#Obtenir les valeurs du dictionnaire sous forme de liste
print(student.values())

dict_values(['Ablaye', 'DIALLO', 'M', 29, 'celibataire', ['Algebriste', "Capacité d'adaptation", 'Créativité', 'Leadership', 'Prise de décision', 'Communication'], 'senegal', 'Fatick', 'belfort'])

In [100]:
#Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
student.items()

dict_items([('prenom', 'Ablaye'), ('nom', 'DIALLO'), ('sexe', 'M'), ('age', 29), ('etat civil', 'celibataire'), ('competences', ['Algebriste', "Capacité d'adaptation", 'Créativité', 'Leadership', 'Prise de décision', 'Communication']), ('Pays', 'senegal'), ('ville', 'Fatick'), ('adresse', 'belfort')])

In [101]:
#Supprimer un des éléments du dictionnaire
student={"prenom":"Ablaye ","nom":"DIALLO","sexe":"M","age":29,"etat civil":"celibataire","competences":["Analysis","Capacité d'adaptation","Créativité","Leadership"],"Pays":"senegal","ville":"ziguinchor","adresse":"belfort"}
del student["competences"]
print(student)

{'prenom': 'Ablaye ', 'nom': 'DIALLO', 'sexe': 'M', 'age': 29, 'etat civil': 'celibataire', 'Pays': 'senegal', 'ville': 'ziguinchor', 'adresse': 'belfort'}

In [102]:
#Supprimer un des dictionnaires
L=[dog,student]
print(L)
L.remove(dog)
print(L)

[{'name': 'Ablaye', 'couleur': 'blanc', 'race': 'noire', 'pattes': 2, 'ages': 29}, {'prenom': 'Ablaye ', 'nom': 'DIALLO', 'sexe': 'M', 'age': 29, 'etat civil': 'celibataire', 'Pays': 'senegal', 'ville': 'ziguinchor', 'adresse': 'belfort'}]
[{'prenom': 'Ablaye ', 'nom': 'DIALLO', 'sexe': 'M', 'age': 29, 'etat civil': 'celibataire', 'Pays': 'senegal', 'ville': 'ziguinchor', 'adresse': 'belfort'}]

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>